<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770639347415-57equ4onck2sovrvkftr1vl7abloibiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770639347415-57equ4onck2sovrvkftr1vl7abloibiq</string>
	<key>API_KEY</key>
	<string>AIzaSyCiZ6TknJzZ9d4npX9E6f3XEcf373dw_TU</string>
	<key>GCM_SENDER_ID</key>
	<string>770639347415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapsuygulama</string>
	<key>PROJECT_ID</key>
	<string>flutter-with-firebase-a6d47</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-with-firebase-a6d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770639347415:ios:2a71b7842d70c8eee13a92</string>
</dict>
</plist>